.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 20vw;
  margin: 25px;
}


a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-inline-start: 20px;
}

.text-gray {
  color: gray
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list-item {
  margin: auto 20px;
}

div {
  display: block;
}
.car-container {
  display: block;
  margin: 50px;
  width: 100%;
  margin-left: 30%;
  margin-right: 30%;

}

.Chip {
  margin: 5px;
}
.car-paper {
  max-width: 500px;
  padding: 50px;


}